* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

img {
  user-select: none;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  min-width: 320px;
  min-height: 100vh;
  background-color: #030d1b;
  padding-top: 40px;
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  transition: left 0.3s ease;
}

.navbar .navbar-header {
  display: grid;
  grid-template-rows: 3fr 1fr 1fr;
  justify-content: center;
}

.navbar .navbar-header img:not(ul li img) {
  width: 160px;
  height: 160px;
  border: 8px solid #514f55;
  border-radius: 50%;
  margin: auto;
}

.navbar .navbar-header h2 {
  color: white;
  margin-top: 10px;
  text-align: center;
}

.navbar .navbar-header ul {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.navbar .navbar-header ul li {
  list-style: none;
  background-color: #514f55;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.navbar .navbar-header ul li img {
  width: 30px;
  height: 30px;
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(182deg)
    brightness(103%) contrast(101%);
}

.navbar .navbar-header ul li:hover {
  background-color: #149ddd;
}

.navbar .navbar-nav {
  margin-top: 40px;
  padding-left: 40px;
}

.navbar .navbar-nav ul li {
  list-style: none;
  margin: 30px 0;
}

.navbar .navbar-nav ul li a {
  text-decoration: none;
  color: #808080;
  font-size: 20px;
}

.navbar .navbar-nav img {
  width: 20px;
  height: 20px;
  filter: invert(53%) sepia(2%) saturate(10%) hue-rotate(50deg) brightness(94%)
    contrast(90%);
  margin-right: 2px;
}

.navbar .navbar-nav ul li a:hover {
  color: #fff;
}

.navbar .navbar-nav a:hover img {
  filter: invert(48%) sepia(65%) saturate(638%) hue-rotate(154deg)
    brightness(95%) contrast(95%);
}

.navbar .navbar-nav ul li a.highlight :hover {
  color: #fff;
}

.navbar .navbar-nav ul li a.highlight :hover img {
  filter: invert(48%) sepia(65%) saturate(638%) hue-rotate(154deg)
    brightness(95%) contrast(95%);
}

/* ----------------------------------------------------------------------- main content ---------------------------------------------------------------- */

#nav-menu,
#nav-menu-close {
  position: fixed;
  top: 16px;
  right: 16px;
  border: 1px solid transparent;
  background-color: transparent;
  display: none;
}

#nav-menu img,
#nav-menu-close img {
  width: 40px;
  height: 40px;
  position: relative;
  top: 2px;
  filter: invert(62%) sepia(31%) saturate(6235%) hue-rotate(167deg)
    brightness(90%) contrast(91%);
}

#nav-menu img:hover,
#nav-menu-close img:hover {
  cursor: pointer;
}

.main-content,
.portfolio-details {
  margin-left: 320px;
}

.main-content .home {
  width: 100%;
  height: 100vh;
  background-image: url("https://picsum.photos/id/135/1920/1080");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main-content .typing {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #514f55;
  padding: 4px 12px;
  border-radius: 10px;
}

.main-content .typing .text {
  position: relative;
  color: #4070f4;
  font-size: 30px;
  font-weight: 600;
}

.main-content .typing .first-text {
  color: #fff;
}

.main-content .typing .second-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #514f55;
  border-left: 2px solid #4070f4;
  animation: typing 4s steps(13) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: 100%;
  }

  100% {
    left: 0%;
  }
}

/* ----------------------------------------------------------------------- about ------------------------------------------------------------------- */

#about,
#facts,
#skills,
#resume,
#services,
#testimonials,
#contact {
  display: flex;
  justify-content: center;
}

.about-me,
.facts,
.skills,
.resume,
.portfolio,
.services,
.testimonials,
.contact {
  margin-top: 70px;
  width: 80%;
}

.titles {
  font-size: 30px;
  color: #06336e;
  display: inline;
  padding-bottom: 16px;
  border-bottom: 4px solid;
  border-image: linear-gradient(to right, #149ddd 50%, transparent 50%) 100% 1;
}

.titles-p {
  margin: 40px 0;
}

.about-me-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-me-container .about-me-info {
  width: 800px;
  height: auto;
  overflow: hidden;
  margin-top: 20px;
}

.about-me-container img {
  width: 400px;
  height: 400px;
}

.about-me-container h3 {
  color: #030d1b;
  font-size: 30px;
}

.about-me-container .basic-infos ul {
  margin-left: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 18px;
}

.about-me-container .basic-infos li {
  list-style: none;
  padding: 16px 0;
}

.about-me-container .basic-infos li span {
  color: #030d1b;
  font-weight: 600;
  font-size: 20px;
}

.about-me-container .basic-infos li::before {
  content: ">";
  color: #149ddd;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.about-me-container p {
  margin: 20px 0;
}

/* ------------------------------------------------------------------ facts ---------------------------------------------------------------------- */

.facts,
.skills {
  padding-bottom: 60px;
}

.facts .numeric-data-container ul {
  font-size: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.facts .numeric-data-container li {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.facts .numeric-data-container li img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  filter: invert(48%) sepia(65%) saturate(638%) hue-rotate(154deg)
    brightness(95%) contrast(95%);
}

.facts .numeric-data-container li div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facts .numeric-data-container li span {
  color: #030d1b;
  font-weight: 600;
}

.facts .numeric-data-container li p {
  font-size: 16px;
  padding: 0;
  margin: 0;
  width: 200px;
  text-align: center;
}

/* ------------------------------------------------------------------ skills ----------------------------------------------------------------- */

#skills .container {
  display: flex;
  justify-content: center;
  background-color: #f5f8fd;
  margin-bottom: 50px;
}

.skills .skill-levels ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  font-weight: 600;
  color: #030d1b;
}

.skills .skill-levels ul li {
  list-style: none;
}

.skills .skill-levels ul li .skill-name {
  display: flex;
  justify-content: space-between;
}

.skills .skill-levels ul li .progress-bar {
  border-bottom: 8px solid;
}

/* ------------------------------------------------------------------- resume ------------------------------------------------------------- */

.resume {
  width: 80%;
  margin-bottom: 50px;
}

.resume .resume-infos {
  display: grid;
  grid-template-areas:
    "summary experience"
    "education experience";
}

.resume .resume-infos .summary {
  grid-area: summary;
}

.resume .resume-infos .experience {
  grid-area: experience;
}

.resume .resume-infos .education {
  grid-area: education;
}

.resume .resume-infos .card-title {
  margin-bottom: 20px;
}

.resume .resume-infos .content-title {
  padding-left: 8px;
}

.resume .resume-infos .content-title::before {
  content: "\25EF";
  color: #050d90;
  font-size: 20px;
  position: relative;
  left: -21px;
  background-color: #fff;
}

.resume .resume-infos .summary .content-title::before {
  left: -18px;
}

.resume .resume-infos .experience,
.resume .resume-infos .education {
  border-left: 4px solid;
}

.resume .resume-infos .experience {
  border-image: linear-gradient(to top, #050d90 92%, transparent 92%) 1 100%;
}

.resume .resume-infos .education {
  margin-top: 30px;
  border-image: linear-gradient(to top, #050d90 84%, transparent 84%) 1 100%;
}

.resume .resume-infos .card-content .border-bar {
  padding-left: 30px;
}

.resume .resume-infos .card-content .border-bar .content-description-italic {
  font-style: italic;
  margin-bottom: 10px;
}

.resume .resume-infos .card-content .border-bar .card-content-text {
  margin-bottom: 20px;
}

.resume .resume-infos .border-bar .card-content-lists {
  margin-left: 20px;
}

.resume .resume-infos .border-bar .card-content-lists li {
  margin-bottom: 10px;
}

.resume .resume-infos .border-bar h4 {
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  font-style: italic;
  margin-bottom: 10px;
  padding: 6px 6px;
  background-color: #dce8f8;
}

/* -------------------------------------------------------------------- portfolio ---------------------------------------------------------------- */

#portfolio {
  display: flex;
  justify-content: center;
  background-color: #f5f8fd;
  padding-bottom: 50px;
}

.portfolio .portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio .portfolio-container .card {
  width: 240px;
  height: 240px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.portfolio .portfolio-container .portfolio-item {
  height: 100%;
  width: 100%;
}

.portfolio .portfolio-container .portfolio-item .img-fluid-p {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.7s;
  overflow: hidden;
}

.portfolio .portfolio-container .portfolio-item .img-overlay {
  position: absolute;
  bottom: -32px;
  width: 100%;
  height: 32px;
  opacity: 0;
  transition: all 0.4s;
}

.portfolio .portfolio-container .portfolio-item:hover .img-fluid-p {
  cursor: pointer;
  opacity: 0.8;
  transform: scale(1.1);
}

.portfolio .portfolio-container .portfolio-item:hover .img-overlay {
  opacity: 1;
  cursor: pointer;
  background-color: #149ddd;
  bottom: 0;
}

.portfolio .portfolio-container .portfolio-item .img-overlay .icon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.portfolio .portfolio-container .portfolio-item .img-overlay .icon a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-container .portfolio-item .img-overlay .icon a:hover {
  background-color: #4070f4;
}

.portfolio .portfolio-container .portfolio-item .img-overlay .icon a img {
  filter: invert(100%) sepia(0%) saturate(7467%) hue-rotate(37deg)
    brightness(94%) contrast(115%);
  height: 24px;
  width: 24px;
  object-fit: contain;
}

#lightbox {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 2;
}

#lightbox.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox img:not(button img) {
  max-width: 90%;
  max-height: 80%;
  padding: 4px;
  background-color: #149ddd;
  border: 1px solid #149ddd;
  border-radius: 20px;
}

#lightbox button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
}

#lightbox button:hover {
  cursor: pointer;
}

#lightbox button:hover img {
  filter: invert(19%) sepia(84%) saturate(3276%) hue-rotate(184deg)
    brightness(90%) contrast(91%);
}

#lightbox button img {
  width: 100%;
  height: 100%;
  filter: invert(57%) sepia(59%) saturate(4015%) hue-rotate(167deg)
    brightness(95%) contrast(85%);
}

/* ---------------------------------------------- portfolio details ---------------------------------------------- */

.portfolio-details .portfolio-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  background-color: #f9f9f9;
  width: 100%;
}

.portfolio-details .portfolio-header a {
  color: #189bd8;
  text-decoration: none;
}

.portfolio-details .portfolio-content {
  display: grid;
  grid-template-areas: "slider portfolio-content-details";
  width: 80%;
  margin: 30px auto;
  align-items: center;
}

.portfolio-details .portfolio-content .slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow-x: scroll;
  width: 480px;
  grid-area: slider;
  padding-bottom: 20px;
}

.portfolio-details .portfolio-content .slider-wrapper,
.testimonials .testimonials-container {
  display: flex;
  align-items: center;
}

.portfolio-details .portfolio-content .slider-wrapper .image-list img {
  max-width: 480px;
  height: 540px;
  object-fit: cover;
}

.portfolio-details .portfolio-content .slider-wrapper button,
.testimonials .testimonials-container button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}

.portfolio-details .portfolio-content .slider-wrapper button:hover img,
.testimonials .testimonials-container button:hover img {
  filter: invert(39%) sepia(18%) saturate(0%) hue-rotate(177deg) brightness(91%)
    contrast(101%);
}

.portfolio-details .portfolio-content .slider-wrapper button img,
.testimonials .testimonials-container button img {
  width: 50px;
  height: 50px;
}

.portfolio-details .portfolio-content .portfolio-content-details {
  grid-area: portfolio-content-details;
  padding: 30px 40px;
  background-color: #fff;
  border: 2px solid #fcf5f5;
  border-radius: 10px;
  box-shadow: 1rem 3rem 1.5rem -1rem #ddd;
  margin-bottom: 50px;
  margin-left: 20px;
}

.portfolio-details .portfolio-content .portfolio-content-details h3 {
  font-size: 30px;
  color: #030d1b;
}

.portfolio-details .portfolio-content .portfolio-content-details hr {
  margin-top: 10px;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-content .portfolio-content-details ul li {
  list-style: none;
  margin-bottom: 16px;
}

.portfolio-details .portfolio-content .portfolio-content-details ul li span {
  font-weight: 600;
}

.portfolio-details .portfolio-content .portfolio-content-details p {
  line-height: 1.5;
  padding-top: 20px;
}

.portfolio-details .image-list::-webkit-scrollbar,
.testimonials .card-group::-webkit-scrollbar {
  height: 10px;
}

.portfolio-details .image-list::-webkit-scrollbar-track,
.testimonials .card-group::-webkit-scrollbar-track {
  /* scrollbar path to be dragged on */
  background: #a0a0a0;
  border-radius: 50px;
}

.portfolio-details .image-list::-webkit-scrollbar-thumb,
.testimonials .card-group::-webkit-scrollbar-thumb {
  /*  */
  background: #525461;
  border-radius: 50px;
}

.portfolio-details .image-list::-webkit-scrollbar-thumb:hover,
.testimonials .card-group::-webkit-scrollbar-thumb:hover {
  /* scrollbar draggable part on hover */
  background: #3f3f3f;
}

/* ------------------------------------------------------------- services ---------------------------------------------------------------- */

.services .services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  padding: 50px 0;
}

.services .services-container .card {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.services .services-container .card .card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #189bd8;
  width: 50px;
  height: 50px;
}

.services .services-container .card .card-icon img {
  height: 70%;
  width: 70%;
  filter: invert(100%) sepia(97%) saturate(13%) hue-rotate(184deg)
    brightness(103%) contrast(103%);
  transform: translate(14%, 0);
}

.services .services-container .card:hover .card-icon {
  background-color: #fff;
  border: 2px solid #189bd8;
}

.services .services-container .card:hover .card-icon img {
  filter: invert(54%) sepia(96%) saturate(2172%) hue-rotate(167deg)
    brightness(90%) contrast(87%);
}

.services .services-container .card .card-content h3 {
  margin-bottom: 20px;
}

.services .services-container .card:hover .card-content h3:hover {
  color: #189bd8;
  cursor: pointer;
}

/* ------------------------------------------------------- testimonials ------------------------------------------------------ */

#testimonials {
  background-color: #f5f8fd;
}

.testimonials-slider {
  width: 100%;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  padding: 0 auto;
}

.testimonials-slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.testimonials-slides input {
  display: none;
}

.testimonials-slide {
  max-width: 10%;
  transition: 1s;
}

.testimonials-slide .card {
  height: 500px;
  margin: 0 10px;
}

.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: #40d3dc;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -10%;
}

#radio3:checked ~ .first {
  margin-left: -20%;
}

#radio4:checked ~ .first {
  margin-left: -30%;
}

#radio5:checked ~ .first {
  margin-left: -40%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
  background-color: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
  background-color: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
  background-color: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
  background-color: #40d3dc;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
  background-color: #40d3dc;
}

.testimonials .card .card-content {
  border: 1px solid #f5f8fd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0.05rem 0 0.8rem -0.5rem #504d4d,
    -0.05rem 0 0.8rem -0.5rem #504d4d, 0 0.5rem 1rem -1rem #504d4d;
  position: relative;
  background-color: #fff;
  height: 240px;
  display: flex;
  align-items: center;
}

.testimonials .card .card-content p {
  display: inline-block;
}

.testimonials .card .card-content p img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  filter: invert(48%) sepia(65%) saturate(638%) hue-rotate(154deg)
    brightness(95%) contrast(95%);
  position: relative;
}

.testimonials .card .card-people {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}

.testimonials .card .card-people img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: auto;
}

.testimonials .card .card-content p::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 20px);
}

/* -------------------------------------------------------------------- contact -------------------------------------------------------------------- */

.contact .contact-container {
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 40px;
  width: 100%;
  margin-bottom: 20px;
}

.contact .contact-container .contact-info {
  border: 1px solid #f5f8fd;
  border-radius: 10px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 10px;
}

.contact .contact-container .contact-info ul li .google-maps iframe {
  border: 1px solid #149ddd;
  border-radius: 10px;
}

.contact .contact-container .contact-info ul li {
  display: flex;
  padding: 8px 0;
}

.contact .contact-container .contact-info ul li img {
  width: 24px;
  height: 24px;
  filter: invert(52%) sepia(28%) saturate(4991%) hue-rotate(168deg)
    brightness(96%) contrast(84%);
  transition: all 0.1s;
}

.contact .contact-container .contact-info ul li:hover img {
  filter: invert(100%) sepia(6%) saturate(23%) hue-rotate(136deg)
    brightness(104%) contrast(108%);
}

.contact .contact-container .contact-info ul li:hover .icon {
  background-color: #189bd8;
}

.contact .contact-container .contact-info ul li .icon {
  background-color: #fff;
  border: 1px solid #189bd8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-right: 20px;
  transition: all 0.6s;
  width: 40px;
  height: 40px;
  place-items: center;
}

.contact .contact-container .contact-info ul li a {
  text-decoration: none;
  color: #030d1b;
}

.contact .contact-container .contact-info ul li h4 {
  font-weight: 600;
  font-size: 18px;
  color: #030d1b;
  user-select: none;
}

.contact .contact-container .contact-info ul li span {
  font-size: 12px;
  color: #030d1b;
}

.contact .contact-container .contact-info ul li .li-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.send-message {
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  padding: 16px 36px;
  border: 1px solid #f5f8fd;
  border-radius: 10px;
}

.send-message form {
  display: flex;
  flex-direction: column;
}

.send-message .contact-info-user {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.send-message form .form-control input,
.send-message form .form-control textarea,
.send-message form .form-control button {
  display: block;
  width: 100%;
  padding: 8px 10px;
  margin: 6px 0;
  border: 2px solid #f5f8fd;
}

.send-message form .form-control .check-blank {
  display: none;
  width: 100%;
  color: red;
  margin-bottom: 6px;
}

.send-message form .form-control input:focus,
.send-message form .form-control textarea:focus,
.send-message form .form-control button {
  outline: none;
  border: 1px solid #42bef8;
  box-shadow: 0 0 2px #719ece;
}

.send-message form .form-control button {
  cursor: pointer;
  background-color: #42bef8;
  color: #fff;
  width: 25%;
  border-radius: 5px;
  margin: 0 auto;
  white-space: wrap;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}

.send-message form .form-control button:hover {
  background-color: #189bd8;
}

.send-message form .form-control button img {
  width: 20px;
  height: 24px;
  /* margin-left: 10px; */
  filter: invert(100%) sepia(0%) saturate(7467%) hue-rotate(37deg)
    brightness(94%) contrast(115%);
  transition: transform 0.3s ease-in-out;
}

.send-message form .form-control button:hover img {
  transform: translate(12px, 0);
}

@media screen and (max-width: 1400px) {
  #nav-menu,
  #nav-menu-close {
    display: block;
    z-index: 1;
  }

  .navbar.responsive {
    left: -320px;
  }

  #nav-menu-close.appearance,
  #nav-menu.appearance {
    display: none;
  }

  .main-content,
  .portfolio-details {
    margin: 0;
  }

  .main-content .typing {
    left: calc(50% - 160px);
  }

  .about-me-container img {
    width: 100%;
    height: auto;
  }

  .about-me-container .about-me-info {
    width: 100%;
  }

  .services .services-container {
    grid-template-columns: 1fr 1fr;
  }

  .portfolio-details .portfolio-content {
    grid-template-areas:
      "slider"
      "portfolio-content-details";
  }

  .portfolio-details .portfolio-content .slider-wrapper {
    margin: 0 auto;
  }

  .portfolio-details .portfolio-content .portfolio-content-details {
    margin: 0 auto;
    margin-top: 40px;
  }
}

@media screen and (max-width: 1000px) {
  .contact .contact-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 840px) {
  .facts .numeric-data-container ul {
    flex-wrap: wrap;
  }

  .portfolio .portfolio-container .card {
    width: 300px;
    height: 300px;
  }

  .resume .resume-infos {
    grid-template-areas:
      "summary"
      "education"
      "experience";
  }

  .resume .resume-infos .card {
    margin-bottom: 50px;
  }

  .skills .skill-levels ul {
    grid-template-columns: 1fr;
  }

  .services .services-container {
    grid-template-columns: 1fr;
  }

  .about-me-container .basic-infos ul {
    grid-template-columns: 1fr;
  }

  .portfolio-details .portfolio-content .slider-wrapper .image-list {
    width: 280px;
  }

  .portfolio-details .portfolio-content .slider-wrapper .image-list img {
    width: 280px;
    height: auto;
  }

  .contact .contact-container .contact-info ul li .google-maps iframe {
    width: 320px;
    height: 320px;
  }
}

@media screen and (max-width: 630px) {
  .testimonials-slide {
    max-width: 20%;
  }

  .last {
    display: none;
  }

  #radio1:checked ~ .first {
    margin-left: 0;
  }

  #radio2:checked ~ .first {
    margin-left: -20%;
  }

  #radio3:checked ~ .first {
    margin-left: -40%;
  }

  #radio4:checked ~ .first {
    margin-left: -60%;
  }

  #radio5:checked ~ .first {
    margin-left: -80%;
  }

  .send-message form .form-control button:hover img {
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 440px) {
  .portfolio-details .portfolio-header p {
    display: none;
  }

  .portfolio-details .portfolio-content .slider-wrapper .image-list {
    width: 160px;
  }

  .portfolio-details .portfolio-content .slider-wrapper .image-list img {
    width: 160px;
    height: auto;
  }

  .contact .contact-container .contact-info ul li .google-maps iframe {
    width: 100%;
  }

  .navigation-auto,
  .navigation-manual {
    display: none;
  }

  .testimonials .card .card-content {
    height: auto;
  }

  .send-message form .form-control button img {
    display: none;
  }

  .send-message form .form-control button {
    font-size: 10px;
  }
}
